<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecshop.total.affairlist.mapper.ImportantMatterDetailMapper">
    <resultMap id="importantMatterDetail" type="com.lecshop.total.affairlist.bean.ImportantMatterDetail">
        <id column="id" property="id"/>
        <result column="matter_id" property="matterId"/>
        <result column="desc" property="desc"/>
        <result column="url" property="url"/>
        <result column="time" property="time"/>
        <result column="grade" property="grade"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="addImportantMatterDetailTemplates" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ls_important_matter_detail (matter_id,parent_id,sort,name,grade) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.matterId},#{item.parentId},#{item.sort},#{item.name},#{item.grade}
            )
        </foreach>
    </insert>

    <select id="queryImportantMatterDetailTemplates" parameterType="java.util.Map" resultMap="importantMatterDetail">
        select * from ls_important_matter_detail where matter_id = #{matterId} and grade = #{grade} order by sort
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultMap="importantMatterDetail">
        select * from ls_important_matter_detail where id = #{detailId}
    </select>

    <update id="updateImportantMatterDetail" parameterType="com.lecshop.total.affairlist.bean.ImportantMatterDetail">
        UPDATE ls_important_matter_detail SET `desc` = #{desc},url = #{url}, `time` = #{time} where id = #{id} and matter_id = #{matterId}
    </update>
</mapper>