<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lecshop.total.user.mapper.UserMapper">
    <resultMap id="user" type="com.lecshop.total.user.bean.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="company_id" property="companyId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="fax" property="companyInfo.fax"/>
        <result column="create_time" property="createTime"/>
        <result column="company_id" property="companyInfo.id"/>
        <result column="company_name" property="companyInfo.name"/>
        <result column="address" property="companyInfo.address"/>
        <result column="industry" property="companyInfo.industry"/>
        <result column="code" property="companyInfo.code"/>
        <result column="business_licence" property="companyInfo.businessLicence"/>
        <result column="vip_type" property="companyInfo.vipType"/>
    </resultMap>
    <select id="queryUserByMobile" parameterType="java.lang.String" resultMap="user">
        SELECT * FROM ls_user WHERE del_flag='0' AND mobile=#{mobile}
    </select>
    <select id="queryUserByName" parameterType="java.lang.String" resultMap="user">
        SELECT * FROM ls_user WHERE del_flag='0' AND `name`=#{name} AND `type`='0'
    </select>
    <select id="queryUserAndCompany" parameterType="java.lang.Long" resultMap="user">
        SELECT u.*,c.`name` AS company_name,c.`code`,c.industry,c.address,c.fax,c.business_licence,c.vip_type
        FROM ls_user u JOIN ls_company_info c ON u.company_id = c.id WHERE u.id = #{userId} AND u.company_id=#{companyId}
    </select>
    <select id="queryCompanyMemberInfos" parameterType="java.util.Map" resultMap="user">
        SELECT u.id,u.name,u.status,u.mobile,c.id AS company_id, c.code, c.industry, c.address, c.business_licence, c.fax,
        c.name AS company_name
        FROM ls_user u JOIN ls_company_info c ON u.company_id = c.id WHERE u.del_flag = '0'
        <if test='companyName != null and !"".equals(companyName)'>
            AND c.name LIKE CONCAT(CONCAT('%', #{companyName}), '%')
        </if>
        <if test='userName != null and !"".equals(userName)'>
            AND u.name LIKE CONCAT(CONCAT('%', #{userName}), '%')
        </if>
        <if test='mobile != null and !"".equals(mobile)'>
            AND u.mobile LIKE CONCAT(CONCAT('%', #{mobile}), '%')
        </if>
        limit #{startRowNum},#{pageSize}
    </select>
    <select id="queryCompanyMemberInfosCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM ls_user u JOIN ls_company_info c ON u.company_id = c.id WHERE u.del_flag = '0'
        <if test='companyName != null and !"".equals(companyName)'>
            AND c.name LIKE CONCAT(CONCAT('%', #{companyName}), '%')
        </if>
        <if test='userName != null and !"".equals(userName)'>
            AND u.name LIKE CONCAT(CONCAT('%', #{userName}), '%')
        </if>
        <if test='mobile != null and !"".equals(mobile)'>
            AND u.mobile LIKE CONCAT(CONCAT('%', #{mobile}), '%')
        </if>
    </select>
    <update id="deleteCompanyMember" parameterType="java.lang.Long">
        UPDATE ls_user SET del_flag = '1' WHERE id = #{id}
    </update>
    <update id="batchDeleteCompanyMember" parameterType="java.lang.Long">
        UPDATE ls_user SET del_flag = '1' WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="editPasswordByMobile" parameterType="java.lang.String">
        UPDATE ls_user SET password=#{1} WHERE mobile=#{0}
    </update>
    <update id="editStatus" parameterType="java.util.Map">
        UPDATE ls_user SET status=#{status} WHERE id=#{userId}
    </update>
    <insert id="addCompanyStaff" parameterType="com.lecshop.total.user.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ls_user (`name`,password,mobile,status,`type`,company_id,parent_id,del_flag,create_time)
        VALUES (#{name},#{password},#{mobile},#{status},#{type},#{companyId},#{parentId},'0',now())
    </insert>
    <resultMap id="userAndRole" type="com.lecshop.total.user.bean.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="company_id" property="companyId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="role_name" property="roleName"/>
    </resultMap>
    <select id="queryCompanyStaffCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ls_user JOIN (ls_user_role AS ur,ls_comany_role AS cr) ON (ls_user.id=ur.user_id AND ur.role_id=cr.id)
        WHERE ls_user.`type`='1' AND ls_user.parent_id=#{parentId} AND ls_user.company_id=#{companyId} AND ls_user.del_flag='0'
        <if test='name != null and !"".equals(name)'>
            AND ls_user.`name` LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
    </select>
    <select id="queryCompanyStaff" parameterType="java.util.Map" resultMap="userAndRole">
        SELECT ls_user.*,cr.`name` AS role_name FROM ls_user
        JOIN (ls_user_role AS ur,ls_comany_role AS cr) ON (ls_user.id=ur.user_id AND ur.role_id=cr.id)
        WHERE ls_user.`type`='1' AND ls_user.parent_id=#{parentId} AND ls_user.company_id=#{companyId} AND ls_user.del_flag='0'
        <if test='name != null and !"".equals(name)'>
            AND ls_user.`name` LIKE CONCAT(CONCAT('%', #{name}), '%')
        </if>
        limit #{startRowNum},#{pageSize}
    </select>
    <update id="updateUserPassWord" parameterType="com.lecshop.total.user.bean.User">
        UPDATE ls_user SET password=#{password} WHERE id=#{id} AND name=#{name}
    </update>
    <update id="updateUser" parameterType="com.lecshop.total.user.bean.User">
        UPDATE ls_user SET name = #{name},mobile = #{mobile} WHERE id = #{id}
    </update>
</mapper>